* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.72);
    font-family: Arial, sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: wheat;
    margin-bottom: 20px;
}

#maze {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    background-color: #381e1e;
    border: 2px solid #381e1e;
}

#maze > div {
    width: 40px;
    height: 40px;
    background-color: #6d5959;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#maze .start {
    background-color: green;
}

#maze .end {
    background-color: red;
}

#maze .wall {
    background-color: #333333;
}

#maze .path {
    background-color: yellow;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin: 5px;
    padding: 8px 15px;
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons button:hover {
    background-color: white;
    color: black;
}

.buttons button:active {
    background-color: #3e8e41;
    color: white;
}
